.profile_wrapper
  margin-top: 50px

.user_name
  font-size: 48px
  text-transform: uppercase
  letter-spacing: 3px
  padding-left: 10px

.user_info_raw
  font-size: 18px
  line-height: 24px
  padding-left: 20px

.numbered_list
  list-style-type: decimal
  padding-left: 50px
  margin: 20px 0

.numbered_list_item
  font-size: 1.2rem
  color: #333
  margin: 5px 0
